[submodule "external/normalizecss"]
	path = external/normalizecss
	url = git://github.com/necolas/normalize.css.git
[submodule "external/antiscroll"]
	path = external/antiscroll
	url = git://github.com/LearnBoost/antiscroll.git
[submodule "external/jquery-animate-enhanced"]
	path = external/jquery-animate-enhanced
	url = git://github.com/benbarnett/jQuery-Animate-Enhanced.git
[submodule "plugins/show-client-0.1.0"]
	path = plugins/show-client-0.1.0
	url = git@github.com:lloydwatkin/buddycloud-plugin-show-client.git
