[submodule "external/normalizecss"]
	path = external/normalizecss
	url = git://github.com/necolas/normalize.css.git
[submodule "external/antiscroll"]
	path = external/antiscroll
	url = git://github.com/LearnBoost/antiscroll.git
[submodule "external/jquery-animate-enhanced"]
	path = external/jquery-animate-enhanced
	url = git://github.com/benbarnett/jQuery-Animate-Enhanced.git
