.antiscroll-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.antiscroll-scrollbar {
  background: #666;
  background: rgba(0, 0, 0, .6);
  border-radius: 7px;
  position: absolute;
  opacity: 0;
  transition: linear 300ms opacity;
}

.antiscroll-scrollbar-shown {
  opacity: 1;
}

.antiscroll-scrollbar-horizontal {
  height: 7px;
  margin-left: 2px;
  bottom: 2px;
  left: 0;
}

.antiscroll-scrollbar-vertical {
  width: 7px;
  margin-top: 2px;
  right: 2px;
  top: 0;
}

.antiscroll-inner {
  overflow: auto;
}

.antiscroll-inner::-webkit-scrollbar, .antiscroll-inner::scrollbar {
  width: 0;
  height: 0;
}
