@import "normalize"
@import "antiscroll"
@import "nib/gradients"
@import "reset"
@import "shim"
@import "grid"
@import "colors"
@import "buttons"
@import "forms"
@import "authentication"
@import "channels"
@import "stream"
@import "edit"
@import "startpage"
@import "discover"
@import "bubbling"
@import "mobile"

textarea
  color black
  background-color white

pre, textarea
  margin 0
  padding 0
  outline 0
  border 0

@font-face
  font-family 'NunitoRegular'
  src url('../fonts/Nunito-Regular-webfont.eot')
  src url('../fonts/Nunito-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Nunito-Regular-webfont.woff') format('woff'), url('../fonts/Nunito-Regular-webfont.ttf') format('truetype'), url('../fonts/Nunito-Regular-webfont.svg#NunitoRegular') format('svg')
  font-weight normal
  font-style normal

@font-face 
  font-family 'NunitoLight'
  src url('../fonts/Nunito-Light-webfont.eot')
  src url('../fonts/Nunito-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Nunito-Light-webfont.woff') format('woff'), url('../fonts/Nunito-Light-webfont.ttf') format('truetype'), url('../fonts/Nunito-Light-webfont.svg#NunitoLight') format('svg')
  font-weight normal
  font-style normal

@font-face 
  font-family 'NunitoBold'
  src url('../fonts/Nunito-Bold-webfont.eot')
  src url('../fonts/Nunito-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Nunito-Bold-webfont.woff') format('woff'), url('../fonts/Nunito-Bold-webfont.ttf') format('truetype'), url('../fonts/Nunito-Bold-webfont.svg#NunitoBold') format('svg')
  font-weight normal
  font-style normal

html
  height 100%
  overflow-y hidden
  overflow-x auto
  font 13px/17px "Helvetica Neue", Helvetica, Arial, sans-serif
  //background black url(../../public/images/smooth-aura.jpg) fixed
  //linear-bg-gradient #024, #909, #035
  //linear-bg-gradient #035, #065 //blau
  background linear-gradient(top, darkBackground, lightBackground)
  background-attachment fixed
  //-webkit-font-smoothing antialiased

body
  width 100%
  height 100%
  overflow-y hidden
  overflow-x auto
  radial-bg-gradient cover, rgba(255,255,255,.34), rgba(255,255,255,0)
  background-attachment fixed
  -webkit-text-size-adjust none
  &.start
    box none none none
    display block
  &.center
    box horizontal center center

.headbar
  top 0
  width 100%
  height 8px
  background url(../../public/images/headbar.png)
  position absolute
  display none
  &:after
    top 8px
    height 8px
    width 100%
    content ""
    position absolute
    background #f2f2f2
    box-shadow 0 -1px rgba(0,0,0,.03), 0 -2px rgba(0,0,0,.03), 0 -3px rgba(0,0,0,.03), 0 -1px white inset

h1
  font-size 34px
  font-family "Nunito", sans-serif
h2
  font-size 26px
  font-family "Nunito", sans-serif
h3
  font-size 18px
  font-family "Nunito", sans-serif

h4
  width 100%
  font-size 14px
  font-weight bold
  color rgba(0,0,0,.89)
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

h5
  margin-bottom 5px
  font-size 12px
  font-weight bold

ul
  list-style-type none

a, a:visited
  color default_highlight
  text-decoration none
  &:hover
    color light_highligh
    text-decoration underline
  &.internal
    padding-left 12px
    background url(../../public/icons/beagle.png) no-repeat left 4px
    
table
  td
    padding-right 8px

.loading
  box horizontal center center
  display box
  box-flex 1
  font-size 27px
  color white
  text-align center
  text-shadow 0 0 1px rgba(0, 0, 0, 0.89), 0 1px 5px rgba(0, 0, 0, 0.55)

.spinner
  width 16px
  height 16px
  margin 17px 8px 0 0
  vertical-align top
  background url(../../public/spinner.gif) no-repeat
  display inline-block

