body.startpage
  background #eee url(../../public/images/Coffee_by_Felix_Niklas.jpg) no-repeat
  background #eee url(../../public/images/logo.png) no-repeat center center
  background-size cover
  
.startpage 
  header
    border-bottom 1px solid rgba(0,0,0,.21)
    box-shadow 0 1px rgba(255,255,255,.34)
    .holder
      height 50px
    h1
      padding-right 21px
      float left
      a
        color black
    nav
      margin-top 11px
    .search
      float left
      margin 13px 21px
      border 1px solid rgba(0,0,0,.21)
      box-shadow 0 1px rgba(255,255,255,.89)
    form
      margin-top -23px
      div
        margin-left 13px
        float left
  h2
    font-size 34px
    text-align center
    margin 55px 21px
  .holder
    padding 13px 21px
  section
    width 431px
    margin 13px 0
    padding 13px 21px
    background rgba(255,255,255,.55)
    border-radius 3px
    border 1px solid rgba(0,0,0,.21)
    box-shadow 0 1px rgba(255,255,255,0.21) inset,0 0 0 1px rgba(255,255,255,0.13) inset,0 2px 0 -1px rgba(0,0,0,0.08),0 4px 5px -1px rgba(0,0,0,0.13)

.channelType
  margin 5px 0
  padding 0 5px
  border-radius 8px
  background-color red
  &.personal
    background-color green
  
.stats
  .channelType
    float right
  
.floatLeft
  float left
  
.floatRight
  float right