body.startpage
  background url(../../public/images/Cake_by_Louise_McLaren.jpg)
  background-size cover
  
.startpage 
  header
    background #eee
    box-shadow 0 1px rgba(0,0,0,.21), 0 2px rgba(0, 0, 0, 0.13)
    .holder
      padding 13px 21px
  h1
    margin 55px 21px 89px
  .holder
    width 960px
    margin 0 auto
  section
    width 431px
    margin 13px 0
    padding 13px 21px
    background #eee
    border-radius 13px
    box-shadow 0 0 0 1px #aaa, 0 1px 0 1px white, 0 1px rgba(0,0,0,.05) inset
    
.channelType
  margin 5px 0
  padding 0 5px
  border-radius 8px
  background-color red
  &.personal
    background-color green
  
.stats
  .channelType
    float right
  
.floatLeft
  float left
  
.floatRight
  float right