#globalHeader
  height 30px
  padding 0 13px
  color rgba(255, 255, 255, 0.89)
  line-height 28px
  text-shadow 0 1px black
  background linear-gradient(top, #666, #555)
  box-shadow 0 1px #ccc, 0 -1px #333 inset, 0 -2px #444 inset
  position relative
  z-index 5
  .logo
    float right
  .search
    input
      padding 2px 5px
      box-shadow 0 1px white, 0 1px rgba(0,0,0,.03) inset
      border 1px solid rgba(0,0,0,.08)
      border-radius 3px

#poweredby
  left 521px
  top 8px
  margin-top 2px
  width 76px
  height 26px
  text-indent -9999px
  background url(../../public/images/poweredby.png)
  position absolute
  display none
  header.small #poweredby
    top 0
    
.avatar
  border-radius 3px

#content
  margin-left 234px
  min-width 790px
  height 100%
  color rgba(0,0,0,.89)
  text-shadow 0 1px rgba(255,255,255,.34)
  background #eee url("../../public/images/logo.png") no-repeat center center
  box-shadow -1px 0 black, -2px 0 rgba(0, 0, 0, 0.21)
  position relative
  z-index 1
  &.overlapping
    min-height 100%
    position absolute
    .channelView
      height 100%
      position fixed
    .messageView
      min-height 100%
      margin-left 200px
      box-shadow 0 0 13px rgba(0, 0, 0, 0.55), 0 0 34px rgba(0, 0, 0, 0.55), 0 0 55px rgba(0, 0, 0, 0.55)
      float none
      position absolute
      z-index 4
.channelOverview #content
  box-flex 0
  width 0
  .channelView
    position absolute
    height 0
    overflow hidden
.channelOverview.stateArrived #content
  //height 300px // variable height (smaller than screen height) to disable the vertical scrollbar
  //overflow hidden // -> problem: the scroll-state will be gone -> store scroll-state

.channelView
  transition 250ms
  .banner
    height 100%
    width 100%
    background-size cover
    background-position left top
    position fixed
    box-shadow 1px 0 rgba(255,255,255,.34) inset
  > header
    margin 13px 13px 0 13px
    padding 13px 8px 0 
    width 484px
    height 58px
    background linear-gradient(top, rgba(0,2,2,.75), rgba(0,2,2,.83))
    border-radius 5px 5px 0 0
    position relative
    box horizontal left stretch
    .avatar
      width 50px
      margin 0 13px 0 5px
    .titleBar
      box-flex 1
      h2, .status, .location
        width 100%
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        text-shadow 0 1px 2px black
        display block
      h2
        color white
        margin-bottom 2px
        line-height 28px
      .status
        font-size 12px
        color rgba(255,255,255,.67)
    .location
      display none
      .previous
        text-decoration line-through
    + .topic
      border-radius 3px 3px 0 0
  nav
    margin-top 10px
    > div
      margin-left 5px
    &.inChannel
      .channel
        display none
    &.inMessages
      .messages
        display none
    .button
      width 75px
      padding 0
      text-align center
    .tab  
      height 29px
      padding 1px 1px 0
      margin-right -1px
      vertical-align bottom
      overflow hidden
      position relative
      display inline-block
      .holder
        padding 5px 13px 6px
        font-size 12px
        color rgba(0, 0, 0, 0.76)
        text-shadow 0 1px rgba(255, 255, 255, 0.55)
        background linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.08))
        border-radius 3px 3px 0 0
        box-shadow 0 0 0 1px rgba(0, 0, 0, 0.08), 0 0 13px rgba(0, 0, 0, 0.05)
        display block
        position relative
        cursor pointer
      &.newMessage
        .holder
          padding-right 33px
        .counter
          right 10px
          top 4px
      &.active .holder
        background white
        z-index 3
        cursor default
  
  
.stream  
  margin 0 0 13px 13px
  width 500px
  border-radius 0 0 5px 5px
  box-shadow 0 0 0 1px rgba(0, 0, 0, 0.08), 0 0 13px rgba(0, 0, 0, 0.05)
  float left
  position relative
  z-index 2

  /*
   * one of those two lines causing a horrible rerender bug in webkit browsers
   */
  //transform-style preserve-3d
  //perspective 1000

  .topics
    article
      padding 13px
      background white
      position relative
      box-shadow inset 0 -1px rgba(0,0,0,.21)
      overflow hidden
      &:first-child
        border-radius 5px 5px 0 0
      &:last-child
        border-radius 0 0 5px 5px
        box-shadow none
      &:only-child
        border-radius 5px
        box-shadow none
  .newTopic + .topics 
    article
      &:first-child
        border-radius 0
      &:last-child
        border-radius 0 0 5px 5px
        box-shadow none
  .notification
    height 49px
    margin-top -76px
    color white
    text-shadow 0 1px 1px rgba(0,0,0,.34)
    border-top 1px solid rgba(0, 0, 0, 0.13)
    radial-bg-gradient cover, admin_highlight, darken(admin_highlight, 8%)
    box-shadow 0 0 1px rgba(255, 255, 255, 0.34) inset, box-shadow inset 0 -1px rgba(0,0,0,.21)
    transition 500ms 
    transform-origin bottom
    transform rotateX(70deg)
    opacity 0
    &.visible
      opacity 1
      margin-top 0
      transform rotateX(0deg)
    &.private
      height 34px
      box-shadow none
      p img
        margin-right 8px
        vertical-align bottom
      section
        padding-top 6px
        padding-left 0
        text-align center
    section
      padding-left 63px
    .name
      vertical-align top
      transition 500ms
    .controls
      right 13px
      top 28px
      position absolute
      > .button
        margin-left 5px
        color black
      > .postError
        margin-left 5px
        color red
        display inline-block
    .avatar
      width 50px
      transition 500ms
      cursor pointer
    &.log
      height 25px
      padding-top 5px
      padding-bottom 5px
      color rgba(0, 0, 0, 0.55)
      text-shadow 0 1px 1px rgba(255,255,255,.34)
      background #f2f2f2
      border-top-width 0
      box-shadow 0 -1px rgba(0, 0, 0, 0.08) inset
      section
        line-height 25px
        min-height 25px
      .avatar
        left 38px
        width 25px
      p
        display none
      .name
        opacity 0
      &.granted .name,
      &.denied .name
        opacity 1
      .controls 
        display none
      &.granted .granted,
      &.denied .denied
        display inline-block
        max-width 9999px
        opacity 1
    .granted, .denied
      height 25px
      max-width 0
      line-height 25px
      overflow hidden
      opacity 0
      display none
      transition 500ms
  .opener
    min-height 50px
    padding-left 63px
  .postmeta
    float right
    margin 0 0 0 13px
    text-align right
    nav
      visibility hidden
    span
      color rgba(0,0,0,.5)
      font-size 11.5px
      line-height 19.5px
      &.time
        display block
        color rgba(0,0,0,.34)
  .name
    color gray
    overflow hidden
    white-space nowrap
    text-overflow ellipsis    
    + .location
      margin-left 5px
      font-size 11px
      line-height 19.5px
      color rgba(0,0,0,.34)
  .opener:hover nav, .comment:hover nav
    visibility visible
  .avatar
    left 13px
    position absolute
  p
    color black
  section.answer
    position relative
    overflow hidden
    textarea
      margin-top 13px
      padding 4px 5px 2px
      height 18px
      width 386px
      font 12px/18px sans-serif
      color gray
      border 1px solid rgba(0,0,0,.21)
      box-shadow 1px 1px white, inset 1px 1px rgba(0,0,0,0.05)
      position relative
      resize none
    .avatar
      width 40px
      left 11px
      top 18px
      display none
    .controls
      bottom 0
      right 0
      display none
    &.write
      .avatar
        display block
      textarea
        margin-bottom 27px
        height 37px
        color black
        resize vertical
      .controls
        display block
  .comments
    padding-left 13px
    .comment
      margin-top 8px
      min-height 40px
      position relative
    section
      padding-top 5px
      padding-left 63px
      &.answer:first-child
        padding-left 50px
        &.write .avatar
          top 13px
          left -2px
        textarea
          margin-top 8px
          width 399px
    .avatar
      top 6px
      left 11px
      width 40px
      border-radius 2px
  p
    white-space pre-wrap
    word-wrap break-word
  section.newTopic
    padding 13px 13px 12px 51px
    background linear-gradient(top, white, #eee)
    border-bottom 1px solid rgba(0,0,0,.13)
    border-radius 0
    display block
    overflow hidden
    position relative
    z-index 1
    .avatar
      left 13px
      top 13px
      width 50px
      position absolute
      z-index 2
      transition 250ms
    textarea
      width 400px
      height 38px
      padding 5px
      margin 0
      border 1px solid rgba(0, 0, 0, 0.13)
      font 13px/19.5px sans-serif
      color gray
      display block
      float right
      position relative
      z-index 2
      transition 250ms
    &.write textarea
      height 89px
      margin-bottom 33px
      color black
  .controls
    bottom 13px
    right 13px
    font-size 11px
    position absolute 
    .button
      margin-left 3px
    .postError
      margin-left 5px
      color red
      display inline-block
  .message
    min-height 14px
    padding-left 66px
    color rgba(0,0,0,.55)
    cursor pointer
    &.new
      background-color rgba(0,0,0,.08)
    &.selected
      color darken(light_highlight, 55%)
      background light_highlight
      .location, .time
        color rgba(darken(light_highlight, 55%), 0.55)
    &:last-child
      box-shadow none
    .avatar
      width 40px
    p
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
  .topic.ghost
    .name,
    .location,
    p span
      display inline-block
    .name
      height 16px
      width 89px
      background rgba(0,0,0,.21)
    .location
      width 144px
      height 14px
      background rgba(0,0,0,.08)
    .time
      width 50px
      height 16px
      background rgba(0,0,0,.08)
    .avatar
      height 50px
      width 50px
      background rgba(0,0,0,.13)
    .comments .avatar
      height 40px
      width 40px
    p span
      height 16px
      margin-right 3px
      background rgba(0,0,0,.21)
  .loader
    line-height 50px
    text-align center
    color rgba(0,0,0,.55)
    background white
    border-radius 0 0 5px 5px
    .spinner
      width 16px
      height 16px
      margin 17px 8px 0 0
      vertical-align top
      background url(../../public/images/spinner_white.gif) no-repeat
      display inline-block
  .topic.tutorial
    .arrow
      float left
      padding-left 7px
      font-size 42px
      color admin_highlight
      text-shadow black 0 0 2px
  .empty.topic p
    text-align center

.conversation
  article
    min-height 40px
    padding 13px 13px 13px 64px
    box-shadow 0 -1px rgba(0, 0, 0, 0.13) inset
    position relative
    &:last-child
      border-radius 0 0 5px 5px
      box-shadow none
    .avatar
      left 13px
      width 40px
      border-radius 2px
      position absolute
    .postmeta
      margin 0
      float none
      text-align left
      .name
        color black
      .location
        margin-left 0
        display none
    p
      margin-top 2px
      margin-bottom 5px
      font-size 12px
      &:last-child
        margin-bottom 0
      .time
        float right
        color rgba(0, 0, 0, 0.34)
        font-size 11.5px
        line-height 19.5px
  .you
    background #f7f7f7

.moderationPanel
  display none
.moderate .moderationPanel
  height 28px
  width 100%
  margin 5px 0 13px
  background linear-gradient(top, rgba(0,0,0,.08), rgba(0,0,0,.21))
  color black
  box-shadow 0 1px 2px rgba(0,0,0,.4) inset, 0 -1px rgba(0,0,0,.03),0 -2px rgba(0,0,0,.03), 0 -3px rgba(0,0,0,.03)
  border-radius 0 0 5px 5px
  box horizontal justify center
  > div
    padding 5px 0
    text-align center
    cursor pointer
    box-flex 1
    transition 500ms
    &:first-child
      border-bottom-left-radius 5px
    &:last-child
      border-bottom-right-radius 5px
    &:hover
      background linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.13))

.channelDetails
  width 304px
  font-size 12px
  color white
  text-shadow 0 1px 1px black
  position absolute
  left 513px
  top 37px
  overflow hidden
  .infoToggle
    width 259px
    height 26px
    margin-left -1px
    padding 0 13px 0 21px
    font-weight bold
    line-height 26px
    border-bottom-color rgba(0,0,0,.34)
    border-radius 0 14px 14px 0
    background rgba(0,0,0,.75)
    transition 500ms
    cursor pointer
    h4
      color white
      text-shadow 0 1px 2px black
      display inline
    .icon
      font-weight bold
      font-size 16px
      line-height 24px
      display block
      float right
  &.hidden .infoToggle
    margin-left -264px
    .editmode &
      margin-left -1px
  > .holder
    width 222px
    padding 8px 21px
    font-size 12px
    background rgba(0,0,0,.75)
    float left
    position relative
    transition 500ms
  &.hidden > .holder
    margin-left -252px
    opacity 0
    .editmode &
      margin-left 0
      opacity 1
  .meta
    table
      margin 13px 0
      th
        margin-right 2px
        padding 1px 5px
        font-size 11px
        text-align center
        background rgba(0,0,0,.05)
        &:last-child
          margin-right 0
      td
        padding 2px 5px
        text-align center
    p
      margin-bottom 8px
      .title
        margin-right 5px
        font-weight bold
        position relative
  .open .title, .closed .title
    margin-right 2px
    &:after
      margin-left 5px
      width 16px
      height 18px
      content ""
      vertical-align top
      background url(../../public/icons/unlock-small.png) no-repeat center
      display inline-block
  .closed .title
    &:after
      background url(../../public/icons/lock-small.png) no-repeat center
  .previous
    text-decoration line-through
  .channelList
    margin 13px 0 8px
    &:after
      content ""
      display block
      clear both
      visibility hidden
      line-height 0
      height 0
    h3
      margin-bottom 3px
    img
      margin 0 3px 3px 0
      border-radius 3px
      display inline-block
      cursor pointer
      &.selected
        box-shadow 0 0 0 1px #83AC35, 0 0 0 2px #8DBA39
    .showAll
      padding-top 3px
      line-height 19px
      text-align center
      background linear-gradient(top, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.08))
      box-shadow 0 1px rgba(0, 0, 0, 0.21) inset, 0 1px rgba(255,255,255,.13)
      clear left
      cursor pointer
      &:hover
        color default_highlight
        background default_highlight - rgba(0,0,0,0.89) + 50%
        
.adminAction
  width 218px
  padding 8px 1px 0
  margin-bottom 13px
  position relative
  overflow hidden
  display none
  &:after
    margin-top 0
    margin-left 2px
    left 19px
    bottom 5px
    width 9px
    height 9px
    content ""
    background #eee
    position absolute
    transform rotate(45deg)
    transition 500ms
    display none
  .arrow
    height 11px
    width 13px
    top -1px
    left 19px
    position absolute
    overflow hidden
    transition 500ms
    &:before
      left 1px
      top 5px
      width 9px
      height 9px
      content ""
      background #adadad
      border 1px solid #909090
      box-shadow 0 0 0 2px #eee
      position absolute
      transform rotate(45deg)
  &.second .arrow,
  &.second:after
    left 75px
  &.third .arrow
  &.third:after
    left 131px
  &.fourth .arrow
  &.fourth:after
    left 187px
  .box 
    padding 1px
    background rgba(0,0,0,.08)
    border 1px solid rgba(0,0,0,.34)
    border-radius 3px
    box-shadow 0 1px 3px rgba(0, 0, 0, 0.34) inset, 0 1px white
    overflow hidden
  .channelInfo
    padding 5px 8px
    margin-bottom 1px
    background linear-gradient(top, #fafafa, #f7f7f7)
    box-shadow 0 1px 1px rgba(0, 0, 0, 0.34)
  .action
    padding 5px 8px
    margin-bottom 1px
    background #f7f7f7
    box-shadow 0 1px 1px rgba(0, 0, 0, 0.34)
    display none
  .currentRole
    font-size 11px
    line-height 15px
  &.follower
    .moderator, .followerPlus
      display none
  &.moderator
    .follower, .followerPlus
      display none
  .info
    margin 5px 0
    li
      padding-left 18px
      line-height 21px
      background url(../../public/icons/plus.png) no-repeat 2px center
      &.negative
        background url(../../public/icons/minus.png) no-repeat 2px center
  .actionRow
    width 100%
    box horizontal justify center
    &.confirm
      display none
    > div
      padding 5px
      margin-right 2px
      text-align center
      background linear-gradient(top, #f7f7f7, #e5e5e5)
      box-shadow 0 1px 1px white inset, 0 1px 1px rgba(0, 0, 0, 0.34)
      box-flex 1
      cursor pointer
      transition background-image 300ms
      &:first-child
        border-bottom-left-radius 2px
      &:last-child
        margin-right 0
        border-bottom-right-radius 2px
      &:hover
        background linear-gradient(top, #f7f7f7, #eee)
      &:active
        padding 6px 5px 4px
        background linear-gradient(top, #f7f7f7, #ccc)
        box-shadow 0 2px white inset, 0 1px rgba(0, 0, 0, 0.05)
  &.choosen
    .actionRow
      display none
      &.confirm
        box horizontal justify center
    &.role
      .changeRole
        display block
    &.ban
      .banUser
        display block
        
.count
  font-size 14px
  line-height 27px
  color default_highlight
  &:before
    content "("
  &:after
    content ")"
    
.anon 
  #sidebar
    display none
  .channelView
    width 768px
    margin 0 auto
    
.overlay
  width 100%
  height 100%
  radial-bg-gradient cover, rgba(0,0,0,.55), rgba(0,0,0,.89)
  position fixed
  z-index 10
  transition opacity 500ms
  display none
  &.visible
    opacity 1
  .modal
    padding 21px
    top 50%
    left 50%
    margin -134px 0 0 -138px
    text-shadow 0 1px rgba(255,255,255,.89)
    background linear-gradient(top, #f7f7f7, #eee)
    border-radius 5px
    box-shadow 0 0 0 1px rgba(0, 0, 0, 0.21), 0 1px 8px rgba(0, 0, 0, 0.55), 0 1px white inset
    position absolute
    .close
      top 0
      right 0
      height 24px
      width 55px
      line-height 24px
      text-align center
      color rgba(0, 0, 0, 0.34)
      border-bottom 1px solid white
      border-left 1px solid white
      border-radius 0 5px 0 5px
      box-shadow 0 0 2px rgba(0,0,0,.13) inset
      position absolute
      cursor pointer
      &:hover
        color rgba(0,0,0,.55)
        text-shadow 0 1px rgba(255, 255, 255, 0.13)
        background rgba(0,0,0,.13)
      + form
        clear right
    nav
      margin-top 21px
      > div
        margin-left 8px
        float right
    &.twoWindowed
      padding 13px
      margin-left -274px
      > .left,
      > .right
        padding 13px
        width 235px
        float left
      > .right
        border-left 1px solid rgba(0,0,0,.13)
        box-shadow -1px 0 white
        float right
