
.userbar
  position absolute
  z-index 9
  transition 500ms
  font-size 11px
  top 0px
  left 0px
  text-align right
  width 100%
  max-width 837px + 21px + 13px + 234px
  min-width 247px + 21px + 13px + 234px
  nav
    display inline-block
    text-align center
    min-width 234px
    padding 3px
    margin-right 21px
    box-shadow 0 1px rgba(0, 0, 0, 0.05)
    background rgb(238, 238, 238)
    border 1px solid rgba(0, 0, 0, 0.13)
    border-bottom-right-radius 5px
    border-bottom-left-radius 5px



