#channels 
  width 76px
  height 100%
  color white
  border-right 0 1px black
  position fixed
  .personal.channel
    height 76px
    border-bottom 1px solid rgba(255, 255, 255, 0.89)
    box-shadow 0 1px rgba(255, 255, 255, 0.55), 0 2px rgba(0,0,0,.34)
    + .channel
      margin-top 6px
  &.makePlace > .personal.channel
    margin-bottom 64px
  &.makePlace > .channel.bubbleUp + .channel
    margin-top -64px
  &.curtainsDown > .personal.channel
    transition none
  &.curtainsDown > .channel
    transition none
  .channel
    width 76px
    height 64px
    position relative
    overflow hidden
    transition 500ms
    transform-origin top
    float left
    &.bubbleUp
      z-index 1
    .info
      top 50%
      margin-top -39px
      padding 22px 17px 22px 0
      font-size 12px
      line-height 17px
      color rgba(255, 255, 255, 0.89)
      text-shadow 0 0 1px rgba(0, 0, 0, 0.13)
      position absolute
      opacity 0
      border-radius 5px
      cursor pointer
      .title, .owner
        width 100%
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      .title
        font-weight bold
      .owner
        color rgba(255,255,255,.65)
        display block
      .domain
        width auto
    .channelmessage.counter, .personalmessage.counter
      right -5px
      width 18px
      height 17px
      color white
      text-align center
      line-height 18px
      text-shadow 0 -1px rgba(0,0,0,.21)
      linear-bg-gradient(rgba(255,255,255,0.21), rgba(0,0,0,0))
      border-radius 9px
      box-shadow 0 0 0 2px rgba(0,0,0,.13), 0 0 1px black, 0 1px rgba(255,255,255,.55) inset
      position absolute
      &.admin
        background-color admin_highlight
    .channelmessage.counter
        bottom -5px
        background-color default_highlight
    .personalmessage.counter
        top -5px
        background-color personal_color
    .avatar
      height 50px
      width 50px
      top 50%
      left 50%
      margin -25px 0 0 -25px
      border-radius 3px
      position absolute
      transition 500ms
      cursor pointer
      z-index 1
      box-shadow 0 0 0 1px rgba(0, 0, 0, 0.55), 0 0 7px rgba(0, 0, 0, 0.55), 0 0 0 1px rgba(255, 255, 255, 0.55) inset
  .selected .avatar
    box-shadow 0 0 0 1px rgba(0, 0, 0, 0.55), 0 0 0 1px rgba(255, 255, 255, 0.55) inset, 0 0 0 3px #83AC35, 0 0 0 4px #94c23c, 0 0 2px 4px rgba(0, 0, 0, 0.34)

.channelOverview #channels
  width 100%
  .personal.channel
    border-bottom none
    box-shadow none
    + .channel
      margin-top 0
  .channel
    height 160px
    width 20%
    transition none
    .avatar
      left 0
      margin-left 21px
      transition margin-left 500ms, left 500ms
    .info
      opacity 1
      margin-left 6px
      padding-left 76px
      transition opacity 500ms, margin-left 500ms, padding-left 500ms
    &:hover .info
      linear-bg-gradient rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.21)
      box-shadow 0 1px rgba(255, 255, 255, 0.13), 0 1px rgba(0, 0, 0, 0.13) inset
  #active_channel_indicator
    display none
.channelOverview.stateArrived #channels 
  overflow-y scroll // scroll-y otherwise prevents all transitions

#more_channels
  width 74px
  position fixed
  bottom 0
  left 1px
  color white
  line-height 27px
  text-align center
  text-shadow 0 1px black
  cursor pointer
  border-top 1px solid black
  background rgba(0,0,0,.89)
  box-shadow 0 1px 0 1px black, inset 0 1px rgba(255,255,255,.34)
  z-index 10
.channelOverview #more_channels
  border-top-right-radius 5px
#active_channel_indicator
  top 25px
  right 0
  width 10px
  height 12px
  overflow hidden
  position absolute
  //transition 50
  > div
    top -1px
    left 7px
    width 14px
    height 14px
    background #eee
    transform rotate(45deg)
    transform-origin center center
    position absolute
.personal.channel + .channel #active_channel_indicator
    top 31px
.channelOverview #active_channel_indicator, .inTransition #active_channel_indicator
  right -10px