#sidebar
  left 0
  height 100%
  width 234px
  color white
  border-right 0 1px black
  position absolute
  overflow hidden
  transition 400ms
  .flexHolder
    height 100%
    box vertical start start
  
#channels
  width 234px
  box-flex 1
  display block // overwrites antiscroll's display: inline-block which brakes the flex-box

.scrollHolder
  width 100%
  height 100%
  overflow-y auto
  position absolute

#sidebar
  .personal.channel,
  .personal.channel.selected
    width 234px
    height 76px
    background linear-gradient(top, lighten(desaturate(darkBackground, 75%), 40%), lighten(desaturate(darkBackground, 70%), 30%))
    box-shadow 0 1px black, -1px 0 black inset, 0 2px rgba(255, 255, 255, 0.21)
    position relative
    z-index 5
  .search
    width 223px
    padding 6px 5px 5px
    background lighten(desaturate(darkBackground, 70%), 30%)
    box-shadow 0 1px rgba(0,0,0,0.55),0 2px rgba(0,0,0,0.21), 0 3px rgba(0,0,0,0.13)
    position relative
    z-index 4
    input
      width 223px
      height 23px
      padding 1px 7px 0
      color black
      background white
      border none
      border-radius 12px
      box-shadow 0 1px rgba(255, 255, 255, 0.34), 0 0 0 1px black inset, 0 2px rgba(0, 0, 0, 0.13) inset
      display block
      box-sizing border-box
    + .channel
      padding-top 6px
  .channel
    width 234px
    height 64px
    position relative
    overflow hidden
    transform-origin top
    &.selected
      background rgba(0, 0, 0, .13)
      box-shadow 0 1px rgba(0,0,0,.55), 0 2px rgba(255, 255, 255, 0.21), 0 1px rgba(0,0,0,.55) inset, 0 -1px rgba(255, 255, 255, 0.21)
    &.bubbleUp
      position absolute
      z-index 2
    .info      
      width 148px
      top 50%
      margin-top -39px
      padding 22px 17px 22px 77px
      font-size 12px
      line-height 17px
      text-shadow 0 0 1px rgba(0, 0, 0, 0.13)
      position absolute
      opacity 1
      border-radius 5px
      cursor pointer
      .owner, .status
        width 100%
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        display block
      .owner
        font-weight bold
        color white
      .status
        color rgba(255,255,255,.65)
        display block
      .domain
        width auto
    .avatar
      height 50px
      width 50px
      top 50%
      left 13px
      margin-top -25px
      border-radius 3px
      position absolute
      transition 500ms
      cursor pointer
      z-index 1
      box-shadow 0 0 0 1px rgba(0, 0, 0, 0.55), 0 1px 1px rgba(0, 0, 0, 0.55), 0 0 0 1px rgba(255, 255, 255, 0.55) inset
    &.unknown .avatar
      height 32px
      width 32px
      top 50%
      left 23px
      margin-top -16px
      border-radius 32px
  .tutorial
    height 123px
    background linear-gradient(top, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0.21))
    .arrow
      padding-left 7px
      font-size 42px
      color admin_highlight
      text-shadow black 0 0 2px
    .info
      cursor auto
      top 0
      margin-top 0
      padding 12px 12px 12px 7px
      text-shadow black 0 0 1px
  .selected .avatar
    box-shadow 0 0 0 1px rgba(0, 0, 0, 0.55), 0 0 0 1px rgba(255, 255, 255, 0.55) inset, 0 0 0 3px default_highlight, 0 0 0 4px lighten(default_highlight, 8%), 0 0 2px 4px rgba(0, 0, 0, 0.34)

.counter
  top -5px
  right -5px
  height 18px
  padding 0 5px
  color white
  font-size 14px
  line-height 17px
  text-shadow 0 1px 1px rgba(0, 0, 0, 0.34)
  background linear-gradient(top, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0.01))
  border-radius 10px
  box-shadow 0 1px rgba(255, 255, 255, 0.55) inset, 0 1px 2px black
  position absolute
  box-sizing border-box
  &.channelpost
    top auto
    bottom -5px
    background-color default_highlight
    box-shadow 0 0 0 1px darken(default_highlight, 15%), 0 1px rgba(255, 255, 255, 0.55) inset, 0 1px 2px black
  &.message
    background-color personal_color
    box-shadow 0 0 0 1px darken(personal_color, 15%), 0 1px rgba(255, 255, 255, 0.55) inset, 0 1px 2px black
  &.admin
    background-color admin_highlight
    box-shadow 0 0 0 1px darken(admin_highlight, 15%), 0 1px rgba(255, 255, 255, 0.55) inset, 0 1px 2px black

.channelOverview #sidebar
  box-flex 1
  #channels
    padding 21px 55px
    position relative
    width auto
  .personal.channel
    background linear-gradient(top, transparent, transparent)
    box-shadow none
  .search
    display none
    + .channel
      padding-top 0
  .channel
    margin 24px 0.5%
    height 76px
    width 19%
    float left
    border-radius 5px
    transition none
    &.selected
      background none
      box-shadow none
    .avatar
      left 0
      margin-left 9px
      transition margin-left 500ms, left 500ms
    .info
      width 153px
      opacity 1
      padding-left 79px
      transition opacity 500ms, margin-left 500ms, padding-left 500ms
  .personal.channel,
  .channel.selected,
  .channel
    &:hover
      background linear-gradient(top, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.21))
      box-shadow 0 1px rgba(255, 255, 255, 0.13), 0 1px rgba(0, 0, 0, 0.13) inset
  #active_channel_indicator
    display none
.channelOverview.stateArrived #sidebar 
  overflow-y scroll // scroll-y otherwise prevents all transitions
  .channel
    transition 500ms height

#more_channels, .channelOverview #more_channels
  width 231px
  bottom 0
  margin-left 1px
  color white
  line-height 27px
  text-align center
  text-shadow 0 1px black
  border-top 1px solid black
  background rgba(0,0,0,.89)
  box-shadow 0 1px 0 1px black, inset 0 1px rgba(255,255,255,.21)
  cursor pointer
  position fixed
  z-index 9
.channelOverview #more_channels
  width 231px
  border-top-right-radius 5px
  
.active_channel_indicator
  top 26px
  right 0
  width 10px
  height 12px
  overflow hidden
  position absolute
  z-index 8
  > div
    top -1px
    left 7px
    width 14px
    height 14px
    background #eee
    box-shadow 0 0 0 1px black, 0 0 0 2px rgba(0, 0, 0, 0.21)
    transform rotate(45deg)
    transform-origin center center
    position absolute
.channelOverview .active_channel_indicator, .inTransition .active_channel_indicator
  right -10px
.personal.channel .active_channel_indicator
  top 32px