bc_text_color = #132B36
bc_bright_color = #fff
bc_background = #eee
bc_dark_blue = #132B36
bc_light_border = #C4CED1

channel_bg = #EFECDF
select_color = #C4CED1
transparent_select_color = rgba(196,206,209,.55)
default_highlight = #83AC35
personal_color = #E28C35
admin_highlight = #CD296B