.editBar
  top 0
  left 234px
  width 234px
  height 100%
  padding 18px 13px 13px
  background #fe0
  transition 400ms
  box-shadow -1px 0 rgba(0,0,0,.21) inset
  position absolute
  box-sizing border-box
  nav
    margin 13px 0 55px
    padding-top 13px
    border-top 1px solid rgba(255,255,255,.67)
    box-shadow 0 -1px rgba(0,0,0,.21)
    .button
      margin-right 5px
  .editmode &
    left 0
  h2
    margin-bottom 13px
    border-bottom 1px solid rgba(0,0,0,.21)
    box-shadow 0 1px rgba(255,255,255,.67)
  .hint
    color rgba(0,0,0,.55)
    > span
      display none
    &.followerPlusSelected
      .followerPlus
        display block
    &.followerSelected
      .follower
        display block
  
  .dangerZone
    &:before,
    &:after
      height 21px
      margin 13px -13px 
      content ""
      background -webkit-repeating-linear-gradient(-45deg, red, red 10px, rgba(255,255,255,.89) 10px, rgba(255,255,255,.89) 20px)
      background -moz-repeating-linear-gradient(-45deg, red, red 10px, rgba(255,255,255,.89) 10px, rgba(255,255,255,.89) 20px)
      background -o-repeating-linear-gradient(-45deg, red, red 10px, rgba(255,255,255,.89) 10px, rgba(255,255,255,.89) 20px)
      background -ms-repeating-linear-gradient(-45deg, red, red 10px, rgba(255,255,255,.89) 10px, rgba(255,255,255,.89) 20px)
      background repeating-linear-gradient(-45deg, red, red 10px, rgba(255,255,255,.89) 10px, rgba(255,255,255,.89) 20px)
      box-shadow 0 0 0 1px rgba(0,0,0,.89), 0 2px rgba(0,0,0,.08),0 0 0 1px rgba(255,255,255,.89) inset
      display block
    p
      margin-bottom 18px
    .button
      margin-bottom 2px
      
  
[contenteditable="true"]
  background #fe0
  border-radius 2px
  transition 400ms
  &::selection
    background black
    color white
    text-shadow none
    
.editmode
  #sidebar
    left -234px
  .stream
    p
      color gray
      transition 400ms
