#header
  width 700px
  height 50px
  margin 10px auto

#header_content
  width 100%
  
  h1
    float left
  
  #user_menu
    float right
    margin-right 10px

  #login_form
    display none
    margin 14px 0
    float right
    
ul.login_form li
  display inline