#login
  width 308px
  position absolute
  left 50%
  top 50%
  margin-top -154px
  margin-left -154px
  height 217px
  h1
    margin 5px 21px
    color rgba(255, 255, 255, 0.95)
    text-align center
    text-shadow 0 1px rgba(0, 0, 0, 0.13), 1px 0 rgba(0, 0, 0, 0.13), 0 -1px rgba(0, 0, 0, 0.13), -1px 0 rgba(0, 0, 0, 0.13), 0 1px 7px rgba(0, 0, 0, 0.21)

#login_form
  display none
  padding 13px 21px
  linear-bg-gradient(white, #ddd)
  border-radius 5px
  box-shadow 0 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 7px rgba(0, 0, 0, 0.21), 0 1px rgba(255, 255, 255, 0.21) inset
  overflow hidden
  .button
    float right

input[type="text"], input[type="password"]
  padding 7px 8px
  margin 8px 0
  font-size 18px
  vertical-align bottom
  border-radius 3px
  border 1px solid rgba(0, 0, 0, 0.21)
  box-shadow 0 1px rgba(0,0,0,.05) inset, 0 1px rgba(255,255,255,.34)
  display block
  &:focus
    border-color rgba(0, 0, 0, 0.34)

.connecting
  padding-top 7px
  text-shadow 0 1px rgba(255, 255, 255, 0.55)
  opacity 0
  transition 250ms
  img
    line-height 19.5px
    vertical-align top
  span
    margin-left 3px
  &.visible
    opacity 1