#login
  width 390px
  margin 110px auto

#login_form
  display none
  padding 21px
  margin 0 auto
  background -moz-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.13))
  background -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.13))
  border 1px solid rgba(0,0,0,.13)
  border-radius 3px
  box-shadow 0 1px 7px rgba(0,0,0,.13)

h1
  margin 5px 21px

input[type="text"], input[type="password"]
  padding 7px 8px
  margin 8px 0
  font-size 24px
  vertical-align bottom
  border-radius 3px
  border 1px solid #ddd
  box-shadow 0 1px white, 0 1px rgba(0,0,0,.05) inset
  display block

input[type="text"]:focus, input[type="password"]:focus
  border-color #aaa
  
#login_form .basic_button
  margin-top 3px
  font-size 16px