@import "reset"
@import "shim"
@import "colors"
@import "buttons"
@import "login"
@import "register"
@import "channels"
@import "stream"

html
  font 13px/17px sans-serif

body
  height 100%

h1
  font-size 34px
  font-family "Nunito", sans-serif
h2
  font-size 26px
  font-family "Nunito", sans-serif
h3
  font-size 20px
  font-family "Nunito", sans-serif

ul
  list-style-type none

a, a:visited
  color #F95A5A
  text-decoration none

a:hover
  color #665248