@import "reset"
@import "shim"
@import "colors"
@import "buttons"
@import "boxes"
@import "login"
@import "stream"

html
  min-height 100%
  linear-bg-gradient(#eee, #bbb)
  font 13px/17px sans-serif

body
  height 100%
  box horizontal, e, left

h1
  font-size 34px
  font-family "Nunito", sans-serif
h2
  font-size 26px
  font-family "Nunito", sans-serif
h3
  font-size 20px
  font-family "Nunito", sans-serif

p
  font-size 16px

ul
  list-style-type none

a, a:visited
  color #F95A5A
  text-decoration none

a:hover
  color #665248

@import "home"