@import "reset"
@import "shim"
@import "colors"
@import "buttons"
@import "login"
@import "register"
@import "channels"
@import "stream"

html
  height 100%
  font 13px/17px sans-serif  
  background black url(../../public/images/smooth-aura.jpg) fixed
  
body
  min-height 100%
  overflow-x hidden
  //radial-bg-gradient rgba(255,255,255,.34), rgba(255,255,255,0)
  
.headbar
  top 0
  width 100%
  height 8px
  background url(../../public/images/headbar.png)
  position absolute
  display none
  &:after
    top 8px
    height 8px
    width 100%
    content ""
    position absolute
    background #f2f2f2
    box-shadow 0 -1px rgba(0,0,0,.03), 0 -2px rgba(0,0,0,.03), 0 -3px rgba(0,0,0,.03), 0 -1px white inset 

h1
  font-size 34px
  font-family "Nunito", sans-serif
h2
  font-size 26px
  font-family "Nunito", sans-serif
h3
  font-size 20px
  font-family "Nunito", sans-serif

ul
  list-style-type none

a, a:visited
  color #F95A5A
  text-decoration none

a:hover
  color #665248