#register
  width 390px
  margin 140px auto
  position absolute
  left 50%
  top 50%
  margin-top -128px
  margin-left -195px
  height 200px

#register_form
  display none
  padding 21px
  margin 0 auto
  linear-bg-gradient rgba(255,255,255,0.5), rgba(255,255,255,0.13)
  border 1px solid rgba(0,0,0,.13)
  border-radius 1px
  box-shadow 0 1px 7px rgba(0,0,0,.13), 0 1px white inset
  input[type="text"], input[type="password"]
    padding 7px 8px
    margin 8px 0
    font-size 24px
    vertical-align bottom
    border-radius 3px
    border 1px solid #ddd
    box-shadow 0 1px white, 0 1px rgba(0,0,0,.05) inset
    display block

  input[type="text"]focus, input[type="password"]focus
    border-color #aaa

#register_form .basic_button
  margin-top 3px
  font-size 16px

#register_form [disabled]
  background rgba(0,0,0,0.5)
  color rgba(200,200,200,1)

#home_register_submit
  float left

#register_waiting
  width 200px
  visibility hidden

#register_waiting img
  float left
  margin 10px

#register_waiting_text
  margin 10px