#content
  margin-left 76px
  color rgba(0,0,0,.89)
  background #eee
  overflow hidden
  position relative
  transition margin-left 500ms
.channelOverview #content
  margin-left 100%
.channelOverview.stateArrived #content
  height 400px // variable height to disable the vertical scrollbar

.channelView
  padding 13px
  overflow hidden
  position relative
  z-index 1
  header
    width 492px
    padding-left 8px
    overflow hidden
    position relative
    h2
      float left
    nav
      margin-top 6px
      float right
      > div
        margin-left 5px
        float left
    + .topic
      border-radius 3px 3px 0 0
    .loggedIn
      .follow, .newTopic
        display none
    
.stream  
  width 500px
  border-radius 5px
  box-shadow 0 0 0 1px rgba(0, 0, 0, 0.08), 0 0 13px rgba(0, 0, 0, 0.05)
  float left
  overflow hidden
  position relative
  z-index 2
  transform-style preserve-3d
  perspective 1000
  article
    padding 13px
    background white
    position relative
    box-shadow inset 0 -1px rgba(0,0,0,.21)
    overflow hidden
    &:last-child
      border-radius 0 0 3px 3px
  .notification
    height 50px
    margin-top -76px
    color white
    background-color rgba(0, 0, 0, 0.89)
    linear-bg-gradient transparent, rgba(0,0,0,.08)
    transition 500ms 
    transform-origin bottom
    transform rotateX(70deg)
    opacity 0
    &.visible
      opacity 1
      margin-top 0
      transform rotateX(0deg)
    section
      padding-left 63px
    .name
      vertical-align top
      transition 500ms
    .controls
      right 13px
      top 30px
      position absolute
    img
      width 50px
      transition 500ms
    &.log
      height 25px
      padding-top 5px
      padding-bottom 5px
      color rgba(0, 0, 0, 0.55)
      background-color rgba(255, 255, 255, 0.95)
      box-shadow 0 -1px rgba(0, 0, 0, 0.08) inset
      section
        line-height 25px
        min-height 25px
      img
        left 38px
        width 25px
      p
        display none
      .name
        opacity 0
      &.granted .name,
      &.denied .name
        opacity 1
      .controls 
        display none
      &.granted .granted,
      &.denied .denied
        display inline-block
        max-width 9999px
        opacity 1
    .granted, .denied
      height 25px
      max-width 0
      line-height 25px
      overflow hidden
      opacity 0
      display none
      transition 500ms
  .opener
    min-height 50px
    padding-left 63px
  .location
    margin-left 5px
    font-size 11px
    line-height 19.5px
    color rgba(0,0,0,.34)
  .postmeta
    float right
    margin 0 0 0 13px
    text-align right
    nav
      visibility hidden
    span
      color rgba(0,0,0,.5)
      font-size 11.5px
      line-height 19.5px
      &.time
        display block
        color rgba(0,0,0,.34)
  .name
    font-weight bold
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  .opener:hover nav, .comment:hover nav
    visibility visible
  section 
    > img
      left 13px
      position absolute
      border-radius 3px
    > p 
      img
        width 411px
        vertical align
  section.answer
    margin-top 5px
    position relative
    overflow hidden
    textarea
      width 390px
      padding 1px 3px
      margin-bottom 5px
      font 12px/18px sans-serif
      border 1px solid rgba(0,0,0,.21)
      box-shadow 1px 1px white, inset 1px 1px rgba(0,0,0,0.05)
    .button
      margin-bottom 1px
      float right
  .comments
    padding-left 13px
    section
      padding-top 5px
      padding-left 63px 
    img
      top 6px
      left 11px
      width 40px
      border-radius 2px
    .postmeta
      display none
  section.newTopic
    padding 13px 13px 12px 51px
    linear-bg-gradient white, #F2F2F2
    border-bottom 1px solid rgba(0,0,0,.13)
    border-radius 5px 5px 0 0
    overflow hidden
    position relative
    z-index 1
    img
      left 13px
      top 13px
      width 50px
      position absolute
      z-index 2
      transition 250ms
    textarea
      width 400px
      height 38px
      padding 5px
      margin 0
      border 1px solid rgba(0, 0, 0, 0.13)
      font 13px/19.5px sans-serif
      display block
      float right
      position relative
      z-index 2
      transition 250ms
    &.write textarea
      height 89px
      margin-bottom 29px
    .controls
      bottom 13px
      right 13px
      font-size 11px
      position absolute
      .button
        display inline-block
  

.comments
  .comment
    position relative
    .location
      display none

.moderationPanel
  display none
.moderate .moderationPanel
  height 28px
  width 100%
  margin 5px 0 13px
  linear-bg-gradient rgba(0,0,0,.08), rgba(0,0,0,.21)
  color black
  box-shadow 0 1px 2px rgba(0,0,0,.4) inset, 0 -1px rgba(0,0,0,.03),0 -2px rgba(0,0,0,.03), 0 -3px rgba(0,0,0,.03)
  border-radius 0 0 5px 5px
  box horizontal justify center
  > div
    padding 5px 0
    text-align center
    cursor pointer
    box-flex 1
    transition 500ms
    &:first-child
      border-bottom-left-radius 5px
    &:last-child
      border-bottom-right-radius 5px
    &:hover
      linear-bg-gradient rgba(0,0,0,.05), rgba(0,0,0,.13)
      
.channelDetails
  width 222px
  padding 21px
  font-size 12px
  color rgba(0,0,0,.55)
  text-shadow 0 1px white
  float left
  position relative
  transition 500ms
  &.hidden
    margin-left -252px
    opacity 0
  .meta
    p
      margin-bottom 8px
      .title
        margin-right 5px
        font-weight bold
        position relative
      &.public .title
        margin-right 2px
        &:after
          margin-left 5px
          width 16px
          height 18px
          content ""
          vertical-align top
          background url(../../public/icons/unlock-small.png) no-repeat center
          display inline-block
  .channelPreview
    margin 13px 0 8px
    &:after
      content ""
      display block
      clear both
      visibility hidden
      line-height 0
      height 0
    h3
      margin-bottom 3px
      font-size 18px
      .count
        font-size 14px
        line-height 27px
        color default_highlight
        &:before
          content "("
        &:after
          content ")"
    img
      margin 0 7px 7px 0
      vertical-align bottom
      border-radius 3px
      float left
      display block
      &:nth-child(4n)
        margin-right 0
    .showAll
      padding-top 3px
      line-height 19px
      text-align center
      linear-bg-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.03))
      border-bottom 1px solid rgba(0, 0, 0, 0.03)
      box-shadow 0 1px rgba(0, 0, 0, 0.03) inset, 0 1px rgba(255,255,255,.55)
      clear left
      cursor pointer
      &:hover
        color default_highlight
        background default_highlight - rgba(0,0,0,0.89) + 50%