#sidebar
    width 76px
    color white
    background rgba(0,0,0,.89)
    border-right 0 1px black
    position relative

    #channels 
      position fixed
      > .personal.channel
        border-bottom 1px solid rgba(255, 255, 255, 0.89)
        box-shadow 0 1px rgba(255, 255, 255, 0.55), 0 2px black
        .avatar
          margin 13px
        + .channel .avatar
          margin-top 13px
      > .channel
        margin 0
        position relative
        overflow hidden
        cursor pointer
        .avatar
          position relative
          transition(125ms)
        .channelmessage.counter, .personalmessage.counter
          right -5px
          width 18px
          height 17px
          color white
          text-align center
          line-height 18px
          text-shadow 0 -1px rgba(0,0,0,.21)
          linear-bg-gradient(rgba(255,255,255,0.21), rgba(0,0,0,0))
          border-radius 100%
          box-shadow 0 0 0 2px rgba(0,0,0,.13), 0 0 1px black
          position absolute
          &.admin
            background-color admin_highlight
        .channelmessage.counter
            bottom -5px
            background-color default_highlight
        .personalmessage.counter
            top -5px
            background-color personal_color
        .avatar
          height 50px
          width 50px
          margin 7px 13px
          border-radius 3px
          &.glowy
            box-shadow 0 0 0 1px rgba(0, 0, 0, 0.55), 0 0 0 1px rgba(255, 255, 255, 0.55) inset
        &:hover .avatar.glowy
          box-shadow 0 0 0 1px rgba(0, 0, 0, 0.55), 0 0 0 1px rgba(255, 255, 255, 0.55) inset, 0 0 0 3px rgba(255,255,255,.55), 0 0 0 4px rgba(255,255,255,.89)
      .selected .avatar.glowy
        box-shadow 0 0 0 1px rgba(0, 0, 0, 0.55), 0 0 0 1px rgba(255, 255, 255, 0.55) inset, 0 0 0 3px #83AC35, 0 0 0 4px #94c23c
  #more_channels
    width 74px
    position fixed
    bottom 0
    left 1px
    color white
    line-height 27px
    text-align center
    text-shadow 0 1px black
    cursor pointer
    border-top 1px solid black
    background rgba(0,0,0,.89)
    box-shadow 0 1px 0 1px black, inset 0 1px rgba(255,255,255,.34)
  #active_channel_indicator
    top 108px
    right 0
    width 10px
    height 12px
    overflow hidden
    position absolute
    > div
      top -1px
      left 7px
      width 14px
      height 14px
      background #eee
      transform rotate(45deg)
      transform-origin center center
      position absolute
      

#content
  background rgba(255,255,255,.21)
  color rgba(0,0,0,.89)
  box_flex 1
  
#stream 
  width 500px
  padding 13px
  border-right 1px solid rgba(0,0,0,.21)
  header
    position relative
    padding 0 8px
    .follow
      right 0
      top 5px
      position absolute
    + .topic
      border-radius 3px 3px 0 0
  .topic
    padding 13px
    box-shadow inset 0 -1px rgba(0,0,0,.21)
    background white
    position relative
    &:last-child
      border-radius 0 0 3px 3px
  &.important .topic
    border-left 5px solid rgba(0,255,0,.34)
  section
    padding-left 63px
  section section
    padding-top 5px
    padding-left 40px
  .opener
    min-height 50px
  .name
    font-weight bold
  nav, .time 
    float right
  nav
    display none
    margin-top -3px
  nav span 
    color rgba(0,0,0,.5)
    font-size 11px
    padding-left 3px
    cursor pointer
  .opener:hover nav, .comment:hover nav
    display block
  .time, .service
    padding-left 5px
    color rgba(0,0,0,.34)
    font-size 0.9em
  .opener:hover .time, .comment:hover .time
    display none
  img
    left 13px
    position absolute
    border-radius 3px
  section.answer
    margin-top 5px
    padding 5px 8px 8px 36px
    position relative
    overflow hidden
    textarea
      width 100%
      margin-bottom 5px
      font 12px/18px sans-serif
      border 1px solid rgba(0,0,0,.21)
      box-shadow 1px 1px white, inset 1px 1px rgba(0,0,0,0.05)
    button
      float right
  section section img 
      top 6px
      left 5px
      width 25px
      border-radius 2px

.comments
  .comment
    position relative